

body{
    margin: 0;
    padding: 0;
}
.cnt{
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
 /* Adding padding for better spacing */

}

p{
    margin-top: 0;
}

.colums{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 1em 0;
}

.col1 , .col2 , .col3 , .col4 , .col5{
    width: 25%;
}

.col2{
    flex-grow: 2;
}

.col4{
    flex-grow: 3;
}

.col3 ,.col5{
    background-color: brown;
    color: white;
}

img{
    width: 100%;
}

span{
    color: royalblue;
}

h1{
    text-align: center;
    font-size: 3rem;
}

p{
    font-size: 1rem;
}

@media (width < 990px){
    .colums{
        flex-direction: column;
    }
    .col1,.col2,.col3,.col4,.col5{
        width: 100%;
    }
    p{
        font-size: 0.4rem;
    }
    h1{
        font-size: 4rem;
    }
}
